<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Thanks for getting in touch</title>
    </head>
    <body>
        <table>
            <tbody>
            <tr>
                <td>
                    <p>Hi {{ contact.title | title }} {{ contact.name | title }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Thanks for getting in touch dude, we will respond to your message shortly :)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Kind Regards</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Awesome contact bundle team</p>
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
